<div class="container">
    @for (notif of filteredNotifications(); track $index) {
        <div class="notif-container" [class]="notif.status">
            <div class="left">
                <div class="dot-status"></div>
                <div class="image-section">
                    <img class="profile-img" [src]="notif.profileUrl || 'assets/images/default-profile-picture.png'" alt="profile_image">
                    <img class="icon-img" [src]="notif.iconUrl" alt="icon_img">
                </div>
            </div>
            <div class="right">
                <span><span class="Name">{{notif.name}} </span><span>{{notif.action}}</span></span>
                <span>
                    <span class="notif-right-container">
                        <span>{{getTimeAgo(notif.date)}}</span>
                        <img src="assets/icons/general-icons/three-dots-menu.svg" alt="menu_icon">
                    </span>
                </span>
            </div>
        </div>
    }
</div>