#main-container {
    width: 100%;
    height: 850px;
    overflow-y: auto;
}

#profile-infos {
    overflow: scroll;
    overflow-x: hidden;
    height: 650px;
    padding: 0 10px;
    padding-bottom: 30px;
}

#main-container header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.title {
    font-size: 1.8em;
    font-weight: normal;
    font-family: 'pacifico', cursive;
}

#main-container .title {
  flex-grow: 1;
  text-align: center;
}

.close-btn {
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 1.3em;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* hover effect */
.close-btn:hover {
  background-color: var(--third-color);
  color: #fff;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-header .title {
    text-align: left !important;
    margin: 10px 0;
}

.info-header a {
    text-decoration: none;
    color: var(--third-color);
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 10px;
}

.info-header a:hover {
    background: rgba(96, 153, 102, 0.1);
    cursor: pointer;
}

#profile-picture {
  display: flex;
  justify-content: space-around;
}

#profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}

#banner-image {
  display: flex;
  justify-content: center;
}

#banner-image img{
  width: 500px;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
}

#bio-container p {
    font-size: 1.1em;
    padding: 0 30px;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#additional-info p {
    font-size: 1.1em;
    line-height: .5em;
    padding: 10px 30px;
}

@media (max-) {
  
}

::ng-deep .mat-mdc-dialog-container.responsive-dialog {
  border-radius: 15px;
  overflow: hidden; /* prevents scrollbars from overflowing */
}

::ng-deep .mat-mdc-dialog-surface {
  overflow-y: auto;   /* make internal scroll */
  max-height: 90vh;   /* prevents it from going off-screen */
}