<link rel="stylesheet" href="https://use.typekit.net/tjl8ldc.css">

<div class="profile-card">

    <div class="banner">
        <img 
        [src]="info().bannerImageUrl "
        (error)="onBannerError($event)" 
        alt="Banner" 
        class="banner-img"
        />
        <img 
        [src]="info().profileImageUrl" 
        (error)="onImageError($event)"
        alt="Profile" 
        class="profile-img"
        />


    </div>

    <div class="content">
        <h2 class="name" >{{ info().username }}</h2>
        <div class="buttons">

        <button class="Accept" *ngIf="variab() === 0" (click)="accept.emit()">Accept</button>
        <button class="Accept" *ngIf="variab() === 1" (click)="follow.emit()">Follow</button>
        <button class="Accept" *ngIf="variab() === 2" (click)="follow.emit()">Follow</button>

        <button class="Accept" *ngIf="variab() === 3" (click)="follow.emit()">Message</button>

        <button class="Delete" *ngIf="variab() !== 3" (click)="remove.emit()">Delete</button>
        <button class="Delete" *ngIf="variab() === 3" (click)="remove.emit()">Following</button>


        </div>
    </div>
</div>
