.container{
    background-color: white;
    width: 100%;
    padding: 25px;
    height: 100vh;
}

span{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 15px;
}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-header img{
    height: 42px;
    width: 42px;
    cursor: pointer;
}



img{
    height: 48px;
    width: 48px;
}



.spaces-types {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    user-select: none;
    width: 100%;
}

.spaces-types div {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 8px 0px;
}

.spaces-types div:hover {
    color: #609966;
}

.spaces-types a.active span {
    color: #609966;
    font-weight: 600;
    cursor: pointer;
}

.spaces-types span{
    font-family: "anek-bangla-variable", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;

}
.spaces-types span:hover{
    color: #609966;

}