<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/tjl8ldc.css">
<div class="container">
    <span>Friends</span>
    <div class="spaces-types">
        <div *ngFor="let friendsOpType of friendsOpTypes"
            [class.active]="friendsOpType.key === activefriendsOpTypesKey"
            (click)="setActivefriendsOpTypes(friendsOpType.key)">
            <div class="icon-wrap" [class.active]="friendsOpType.key === activefriendsOpTypesKey">
                <img [src]="friendsOpType.key === activefriendsOpTypesKey ? friendsOpType.activeIconUrl : friendsOpType.iconUrl" />
            </div>
            <span>{{ friendsOpType.name }}</span>
        </div>
    </div>


</div>