<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/tjl8ldc.css">
<div class="container">
    <span>Friends</span>
    <ul>
        <li class="current"><img src="/assets/icons/friends/follow-request.png" alt="Follow Request">Follow Request</li>
        <li><img src="/assets/icons/friends/suggestions.png" alt="Suggestions">Suggestions</li>
        <li><img src="/assets/icons/friends/all-followers.png" alt="All Followers">All Followers</li>
        <li><img src="/assets/icons/friends/all-following.png" alt="All Following">All Following</li>
    </ul>
</div>