<div class="profile-card">
    <!-- Banner -->
    <div class="banner">
        <img 
        [src]="info().bannerImageUrl || 'assets/images/default-banner-image.png'" 
        alt="Banner" 
        class="banner-img"
        />
        <img 
        [src]="info().profileImageUrl || 'assets/images/default-profile-picture.png'" 
        alt="Profile" 
        class="profile-img"
        />
    </div>

    <!-- Info -->
    <div class="content">
        <h2 class="name">{{ info().firstName + ' ' + info().lastName }}</h2>
        <p class="handle">{{ info().username }}</p>
        <div class="stats">
            <div>
                <p class="stat-number">{{ formatFollowerCount(info().postsCount) }}</p>
                <p class="stat-label">Flurrs</p>
            </div>
            <div>
                <p class="stat-number">{{ formatFollowerCount(info().followersCount) }}</p>
                <p class="stat-label">Followers</p>
            </div>
            <div>
                <p class="stat-number">{{ formatFollowerCount(info().followingCount) }}</p>
                <p class="stat-label">Following</p>
            </div>
        </div>

        <button class="profile-btn" routerLink="/profile">My Profile</button>
    </div>
</div>
