<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/tjl8ldc.css">

<div class="container">
  <div class="container-header">
    <span>Friends</span>
  </div>

  <div class="spaces-types">
    <a *ngFor="let f of friendsOpTypes"
       (click)="setActivefriendsOpTypes(f.key)"
       [class.active]="f.key === activefriendsOpTypesKey">
      
      <div class="icon-wrap" [class.active]="f.key === activefriendsOpTypesKey">
        <div [innerHTML]="getIconSvg(f.icon, f.key === activefriendsOpTypesKey)" style="width: fit-content;"></div>
      </div>
      
      <span>{{ f.name }}</span>

      <div class="active-indicator" *ngIf="f.key === activefriendsOpTypesKey"></div>
    </a>
  </div>
</div>