
.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: var(--spacing-between-sections);
}
