<div class="layout">
  <nav style="width: fit-content">
    <app-friends-options (selectedOption)="onFriendOptionSelected($event)"></app-friends-options>
  </nav>

  <main style="width: fit-content">
    <div class="request-container">
      <span>{{ selectedType }}</span>

      <div class="request-row">
        <app-friend-request
          *ngFor="let r of list$()"
          [info]="r"
          [variab]="key"
          (follow)="onFollow(r.id)"
          (accept)="onAccept(r.id)"
          (reject)="onReject(r.id)"
          (remove)="onRemoveAction(r.id)"
          (message)="openChat(r.id)"
        >
        </app-friend-request>
      </div>
    </div>
  </main>
</div>

<!-- SHARED CONFIRM DIALOG -->
<app-confirm-dialog
  [open]="confirmOpen"
  [title]="confirmTitle"
  [message]="confirmMessage"
  confirmLabel="Confirm"
  cancelLabel="Cancel"
  (confirm)="onConfirmAction()"
  (cancel)="onCancelAction()"
>
</app-confirm-dialog>


<div class="loading-screen" *ngIf="loading">
  <h2>F</h2>
</div>