<div class="item">
    <div class="left-container">
        <div class="image-section">
            <img [src]="info()?.imageUrl" id="photo">
            <img [src]="info()?.iconUrl" id="icon">
        </div>
        <p [class.inline]="info()?.subtitleOnSameLevel">
            <strong id="title">{{ info()?.title }}</strong>
            <br *ngIf="!info()?.subtitleOnSameLevel">
            <span [ngClass]="{
                'high subtitle':info()?.subtitleOnSameLevel,
                'low subtitle': !info()?.subtitleOnSameLevel
                }">
                {{ info()?.subtitle }}
            </span>
        </p>
    </div>
    <button *ngIf="info()?.withButton" (click)="info()?.buttonAction()">
        {{ info()?.buttonText }}
    </button>
</div>