* {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 14px;
    background-color: #F5F5F0;
    border-radius: 15px;
    gap: 15px;
    margin-top: 10px;
}

.left-container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

button {
    flex-shrink: 0;
    border: 1px solid #609966;
    background-color: #609966;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: .9em;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

button:hover {
    background-color: #4a7c4a;
    cursor: pointer;
}

h3 {
    font-size: .9em;
}

p {
    margin: 0;
    line-height: 1.4;
    word-break: break-word;
}

#title {
    font-weight: 600;
    display: inline;
}

.subtitle {
    color: gray;
    display: inline;
}

.low {
    font-size: 0.85rem;
}

.high {
    font-size: .95rem;
}

p.inline {
  display: inline;
  white-space: normal;
  line-height: 15px;
}


p.inline #title::after {
  content: " ";
}

.image-section {
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
}

#photo {
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

}

#icon {
    object-fit: contain;
    position: absolute;
    bottom: -4px;
    right: 0px;
    width: 20px;;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08));
}