<h2 class="header-dialog" mat-dialog-title>Add to the Space</h2>
<form #f="ngForm" action="">
<mat-dialog-content class="content-dialog">
  <!-- upper section -->
  <div class="flurr-upper">
    <div class="left-part">
      <div class="user-info">
        <img [src]="user()?.avatarImg" alt="avatar-example" />
      </div>
    </div>
    <div class="right-part">
      <div class="user-details">
        <h4>{{ user()?.fullName }}</h4>
      </div>
      <!--
      <div class="select-divs">
        <mat-form-field appearance="outline" class="flurr-select" id="privacy-select">
          <mat-select [(ngModel)]="selectedPrivacy" placeholder="Privacy">
            <mat-option value="public">Public</mat-option>
            <mat-option value="private">Private</mat-option>
            <mat-option value="friends">Friends</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flurr-select" id="journey-select">
          <mat-select [(ngModel)]="selectedJourney" placeholder="Select a Journey">
            <mat-option *ngFor="let journey of journeys" [value]="journey.value">
              {{ journey.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
    </div>
  </div>

  <!-- text section -->
  <mat-form-field appearance="fill" class="flurr-textarea">
    <mat-label>Share with the other members your Flurrs...</mat-label>
    <textarea
      required
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="7"
      cdkAutosizeMaxRows="7"
      placeholder="Write your Flurr here..."
      [(ngModel)]="model.flurrContent"
      name="flurrContent"
    ></textarea>
  </mat-form-field>

  <!-- bottom section -->
  <div class="flurr-bottom">
    <p-fileUpload
      name="files"
      [customUpload]="true"
      [auto]="false"
      [multiple]="true"
      accept="image/*,video/*"
      [maxFileSize]="50 * 1024 * 1024"
      [showUploadButton]="false"
      (onSelect)="onFileSelect($event)"
    >
      <ng-template #empty>
        <div>Drag and drop files here</div>
      </ng-template>
    </p-fileUpload>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="footer-dialog">
  <button
    [disabled]="!f.valid || isSubmitting"
    class="btn"
    id="flurrBtn"
    matButton
    (click)="onSubmit()">
    <ng-container *ngIf="!isSubmitting; else loadingTpl">
      Share to the Space!
    </ng-container>
    <ng-template #loadingTpl>
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </ng-template>
  </button>
</mat-dialog-actions>
</form>