<h2 class="header-dialog" mat-dialog-title>Add to Your Journey</h2>
<form action="" #f="ngForm">
<mat-dialog-content class="content-dialog">
  <!-- upper section -->
  <div class="flurr-upper">
    <div class="left-part">
      <div class="user-info">
        <img [src]="user()?.avatarImg" alt="avatar-example" />
      </div>
    </div>
    <div class="right-part">
      <div class="user-details">
        <h4>{{ user()?.fullName }}</h4>
      </div>
      <div class="select-divs">
        <!-- select -->
        <mat-form-field appearance="outline" class="flurr-select" id="privacy-select">
          <mat-select name="selectedPrivacy" [(ngModel)]="model.selectedPrivacy" placeholder="Privacy">
            <mat-option value="public">Public</mat-option>
            <mat-option value="private">Private</mat-option>
            <mat-option value="friends">Friends</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- select -->
        <mat-form-field appearance="outline" class="flurr-select" id="journey-select">
          <mat-select 
            name="selectedJourney" 
            [(ngModel)]="model.selectedJourneyId" 
            placeholder="Select a Journey" 
            required>
            <mat-option *NgIf="journeys().length === 0" [disabled]="true" [value]="0">
              Add a Journey
            </mat-option>
            <mat-option *ngFor="let journey of journeys()" [value]="journey.id">
              {{ journey.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- text section -->
  <mat-form-field appearance="fill" class="flurr-textarea">
    <mat-label>Share with us your Flurrs...</mat-label>
    <textarea
      required
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="7"
      cdkAutosizeMaxRows="7"
      placeholder="Write your Flurr here..."
      [(ngModel)]="model.flurrContent"
      name="flurrContent"
    ></textarea>
  </mat-form-field>

  <!-- bottom section -->
  <div class="flurr-bottom">
    <button class="icon">
      <img src="./assets/icons/flurr-dialog/image.png" alt="image-icon" />
      <span>Image</span>
    </button>
    <button class="icon">
      <img src="./assets/icons/flurr-dialog/video.png" alt="video-icon" />
      <span>Video</span>
    </button>
    <button class="icon">
      <img src="./assets/icons/flurr-dialog/tags.png" alt="tags-icon" />
      <span>Tags</span>
    </button>
    <button class="icon">
      <img src="./assets/icons/flurr-dialog/location.png" alt="location-icon" />
      <span>Location</span>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="footer-dialog">
  <button [disabled]=!f.valid class="btn" id="flurrBtn" matButton (click)="onSubmit()">Flurr it!</button>
  <button class="btn" id="createBtn" matButton cdkFocusInitial (click)="openJourneyCreationDialog()">
    Create a new Journey
  </button>
</mat-dialog-actions>
</form>
