<div class="container">
    <div class="left">
        <div class="image">
            <img [src]="info().avatarUrl" id="photo" height="53px">
        </div>
        <div class="info">
            <h4 class="username">{{info().name}}</h4>
            <span class="span">
                <p class="text">{{info().lastMsg}}</p>
                <p>&ThickSpace;{{info().lastMsgDate}}</p>
            </span>
            
        </div>
    </div>
    <div class="right"
    *ngIf="info().unreadMsgs != 0">
        <span class="bubble">
            {{info().unreadMsgs > 9 ? "+ 9" : info().unreadMsgs}}
        </span>
    </div>
</div>

