<div class="container">
    <div class="left">
        <div class="image">
            <img [src]="info().avatar" id="photo">
        </div>
        <div class="info">
            <h4 class="username">{{info().name}}</h4>
            <span class="span">
                <p class="text">{{info().last}}</p>
                <p>&ThickSpace;{{info().status}}</p>
            </span>
            
        </div>
    </div>
    <div class="right"
    *ngIf="info().unread != 0">
        <span class="bubble">
            {{info().unread! > 9 ? "+ 9" : info().unread}}
        </span>
    </div>
</div>

