<div *ngFor="let comment of comments.slice().reverse()" class="comment">
  <div class="comment-header">
    <img
      class="avatar"
      [src]="comment.author?.avatarUrl || '../../assets/avatar-img.avif'"
      [alt]="comment.author?.name || 'User'"
    />
    <span class="author-name">{{ comment.author?.name || 'Anonymous' }}</span>
  </div>

  <label class="comment-text">{{ comment.text }}</label>

  <div class="comment-actions">
    <button (click)="openCommentText(comment)" *ngIf="!comment.isOpen">Reply</button>
  </div>

  <div *ngIf="comment.isOpen" class="reply-box">
    <textarea
      [(ngModel)]="comment.replyText"
      cols="60"
      rows="3"
      placeholder="Write your reply..."
    ></textarea>
    <br />
    <div class="buttons">
      <button (click)="addComment(comment)">OK</button>
      <button class="cancel" (click)="openCommentText(comment)">Cancel</button>
    </div>
  </div>

  <!-- Show this block only when there is at least one answer -->
  <div class="answers" *ngIf="comment.anwsers.length>0">
    

    <comment-tree
      *ngIf="vplus"
      [comments]="comment.anwsers"
      [currentUser]="currentUser"
    ></comment-tree>

    <button (click)="togglevplus()" class="voir">
      {{ vplus ? 'See less' : 'See more' }}
    </button>
  </div>
</div>
