/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #EDF1D6;
  --secondary-color: #9DC08B;
  --third-color: #609966;
  --fourth-color: #40513B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "anek-bangla-variable", sans-serif;
  background-color: var(--primary-color);
}

.edit-profile-dialog .mat-mdc-dialog-surface {
  border-radius: 25px !important;
  padding: 0;
}