<div class="container">
    <header>
    <h3>Journeys</h3>
    <select name="Year" id="year-selector" (change)="onYearSelected($event)">
        <option value="0" disabled>Year</option>
        <option *ngFor="let year of years()" [value]="year" [selected]="selectedYear() === year">{{ year }}</option>
    </select>
    </header>
    <main>
        <h4 *ngIf="journeys().length == 0" id="no-items-message">
            "You don't have journeys yet"
        </h4>
        <div id="journeys-container">
            <ul *ngIf="!expandedList">
                <li 
                    *ngFor="let journey of lastJourneys(); let i = index"
                    (click)="selectJourney(i)"
                    [class.selected]="selectedJourney === i">{{ journey }}
                </li>
            </ul>
            <ul *ngIf="expandedList">
                <li 
                    *ngFor="let journey of filteredJourneys(); let i = index"
                    (click)="selectJourney(i)"
                    [class.selected]="selectedJourney === i">{{ journey.journey_name }}
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <a  id="see-more"
            *ngIf="filteredJourneys().length > 5"
            (click)="expandedList = !expandedList">{{expandedList? 'Show less': 'Show more'}}
        </a>
    </footer>
</div>